<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <header>
        <nav class="navbar navbar-dark bg-dark">
            <h4 class="text-light">Come See the Layton, Utah Temple</h4>
            <div class="">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>

    <footer class="text-center border-top col-12">Design and Built by Group 3-11 - Copyright 2021</footer>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
