@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sign Up Continued";
}
@model _413proj1.Models.ViewModels.ReservationViewModel

<h2>Add Your Information</h2>
<h3>Please fill in the following information for you reservation slot of @Model.tour.Day at @Model.tour.StartTime:</h3>

<div>
    <form asp-action="AddInfo" method="post">
        <div>
            <label asp-for="reservation.GroupName">Group Name:</label>
            <input asp-for="reservation.GroupName" />
        </div>
        <div>
            <label asp-for="reservation.Email">Email:</label>
            <input asp-for="reservation.Email" />
        </div>
        <div>
            <label asp-for="reservation.PhoneNumber">Phone Number:</label>
            <input asp-for="reservation.PhoneNumber" />
        </div>
    </form>
</div>