@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Sign Up Page";
}

@model TourViewModel
<!--Displays the information for the available times-->
<div class="text-center; container"><br />
    <h2 class="text-center">Select a time to sign up:</h2><br />
    <div class="col-md-auto">
        <table class="table table-hover table-bordered" style="margin-left: auto; margin-right: auto;">
            <thead class="table-active">
                <tr>
                    <th class="th-sm" style="text-align:center">Day</th>
                    <th class="th-sm" style="text-align:center">Start Time</th>
                    @*<th style="text-align:center">Reserved</th>*@
                    <th class="th-sm" style="text-align:center"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var x in Model.Tours)
                {
                    <partial name="ReservationSummary" model="x" />
                }
            </tbody>
        </table>
    </div>
</div>