@model IEnumerable<ReservationInformation>
@{
    ViewBag.Title = "Appointments Booked";
}

<div class="text-center">
    <h4>View Appointments</h4>
    //partial view Tour summary
    <br />

    <p>All of our appointments that have been booked are listed below.</p>
</div>

<div class="col-6 border border-dark">
    @foreach (var x in Model)
    { 

    }
    
</div>